@media (max-width: 1200px) {
    .title {
        transform: skew(-10deg, 0deg);
        width: 102%;
        margin-left: -7px;
    }
    .title span {
        transform: skew(10deg, 0deg);
    }
}

@media (max-width: 992px) {
    .title {
        width: 110%;
        margin-left: -25px;
    }
    header .main-navbar {
        flex-wrap: wrap;
    }
    header .main-navbar li {
        border-radius: 25px;
        margin-bottom: 15px;
    }
    #about-me .information {
        width: 100%;
    }
    #about-me .information-blocks {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    body {
        width: 90%;
        margin: auto;
    }
    #about-me .avatar {
        margin: 20px auto 0;
    }
    #about-me .information, .block-text {
        padding: 25px;
    }
    #about-me .information .information-block {
        width: 100%;
    }

}

@media (max-width: 576px) {
    #skills, #code-examples, #experience, #education, #english {
        margin-top: 40px;
    }
    .title span {
        transform: unset;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .title {
        transform: unset;
        width: 120%;
        margin-left: -10%;
    }
    #about-me .about-me-title,
    #skills .skills-title,
    #code-examples .my-codes-title,
    #experience .experience-title,
    #education .education-title,
    #english .english-title {
        transform: unset;
        width: 100%;
        margin-left: 0;
    }
    #about-me .about-me-title span,
    #skills .skills-title span,
    #code-examples .my-codes-title span,
    #experience .experience-title span,
    #education .education-title span,
    #english .english-title span {
        transform: unset;
    }
    /*HEADER*/
    header .main-navbar li {
        padding: 10px;
    }
    header .main-navbar li:before {
        content: unset;
    }
    /*HEADER*/
    /*#SKILLS*/
    #skills .skill-list {
        width: 90%;
        padding: 25px 0;
    }
    /*#SKILLS*/
    /*#CODE-EXAMPLES*/
    #code-examples .code {
        padding: 5px 10px;
    }
    #code-examples .code pre {
        font-size: 9px;
    }
}
